
<div id="infoUserContainer container">
	<img src="/profileImages/{{ userData.image }}">
	<h3>{{ userData.username }}</h3>
	<p>Email: {{ userData.email }}</p>
	<p>Telefono: {{ userData.telefono }}</p>
	<p>Direccion: {{ userData.direccion }}</p>
	<p>Edad: {{ userData.edad }}</p>
	<p>ID: {{ userData._id }}</p>	
	<a href="/logout">Cerrar Sesión</a> 
</div>			

<div class="anchor btn btn-primary">
	<a href="/">VOLVER A HOME</a>                                   
</div> 